In [1]:
import pandas as pd
import numpy as np

In [2]:
EdStatsCountry = pd.read_csv(r"D:\formation\Data_Engineer_Bac_5\Projet_2\Projet+Python_Dataset_Edstats_csv\EdStatsCountry.csv")
EdStatsCountry_Series = pd.read_csv(r"D:\formation\Data_Engineer_Bac_5\Projet_2\Projet+Python_Dataset_Edstats_csv\EdStatsCountry-Series.csv")
EdStatsData = pd.read_csv(r"D:\formation\Data_Engineer_Bac_5\Projet_2\Projet+Python_Dataset_Edstats_csv\EdStatsData.csv")
EdStatsFootNote = pd.read_csv(r"D:\formation\Data_Engineer_Bac_5\Projet_2\Projet+Python_Dataset_Edstats_csv\EdStatsFootNote.csv")
EdStatsSeries = pd.read_csv(r"D:\formation\Data_Engineer_Bac_5\Projet_2\Projet+Python_Dataset_Edstats_csv\EdStatsSeries.csv")

In [3]:
#1 - Afficher les 5 premiers éléments d'un fichier CSV
EdStatsCountry.head()
EdStatsCountry_Series.head()
EdStatsData.head()
EdStatsFootNote.head()
EdStatsSeries.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#2 - Utilisation de la méthode shape
#shape() = 
print(EdStatsCountry_Series.shape)

#Utilisation de la méthode unique
#unique() = 
print(EdStatsCountry_Series['CountryCode'].unique())

#Utilisation de la méthode duplicated
#duplicated() = 
duplicates = EdStatsCountry_Series[EdStatsCountry_Series.duplicated()]
print(duplicates)

#Utilisation de la méthode value_counts
#value_counts() = 
print(EdStatsCountry_Series['CountryCode'].value_counts())

#Utilisation de la méthode value_counts
#value_counts() = 
print(EdStatsCountry_Series['CountryCode'].value_counts(normalize=True))  # En pourcentage


#Utilisation de la méthode value_counts
#value_counts() = 
print(EdStatsCountry_Series['CountryCode'].value_counts(ascending=True))

#Utilisation de la méthode info
#info() = 
EdStatsCountry_Series.info()

#Utilisation de la méthode isnull
#isnull() = 
EdStatsCountry_Series.isnull()

(613, 4)
['ABW' 'AFG' 'AGO' 'ALB' 'AND' 'ARE' 'ARG' 'ARM' 'ASM' 'ATG' 'AUS' 'AUT'
 'AZE' 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH' 'BLR' 'BLZ'
 'BMU' 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN' 'CHE' 'CHI' 'CHL'
 'CHN' 'CIV' 'CMR' 'COD' 'COG' 'COL' 'COM' 'CPV' 'CRI' 'CUB' 'CYM' 'CYP'
 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'ECU' 'EGY' 'ERI' 'ESP' 'EST'
 'ETH' 'FIN' 'FJI' 'FRA' 'FRO' 'FSM' 'GAB' 'GBR' 'GEO' 'GHA' 'GIB' 'GIN'
 'GMB' 'GNB' 'GNQ' 'GRC' 'GRD' 'GRL' 'GTM' 'GUM' 'GUY' 'HKG' 'HND' 'HRV'
 'HTI' 'HUN' 'IDN' 'IMN' 'IND' 'IRL' 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM'
 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR' 'KWT' 'LAO' 'LBN'
 'LBR' 'LBY' 'LCA' 'LIE' 'LKA' 'LSO' 'LTU' 'LUX' 'LVA' 'MAC' 'MAR' 'MCO'
 'MDA' 'MDG' 'MDV' 'MEX' 'MHL' 'MKD' 'MLI' 'MLT' 'MMR' 'MNE' 'MNG' 'MNP'
 'MOZ' 'MRT' 'MUS' 'MWI' 'MYS' 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD' 'NOR'
 'NPL' 'NZL' 'OMN' 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL' 'PRI' 'PRK'
 'PRT' 'PRY' 'PSE' 'PYF' 'QAT' 'ROU' 'RUS' 'RWA' 'SAU' 'SDN' 'SEN' 'SGP'
 'SLB' 'SLE' 'SLV' 'SMR' 'SOM' 'SRB' 'STP' 'SUR' 'SVK' 'SVN' 'SWE' 'SWZ'
 'SYC' 'SYR' 'TCA' 'TCD' 'TGO' 'THA' 'TJK' 'TKM' 'TLS' 'TON' 'TTO' 'TUN'
 'TUR' 'TUV' 'TZA' 'UGA' 'UKR' 'URY' 'USA' 'UZB' 'VCT' 'VEN' 'VIR' 'VNM'
 'VUT' 'WSM' 'XKX' 'YEM' 'ZAF' 'ZMB' 'ZWE']
Empty DataFrame
Columns: [CountryCode, SeriesCode, DESCRIPTION, Unnamed: 3]
Index: []
CountryCode
GEO    18
MDA    18
CYP    12
SRB    12
MUS    12
       ..
WSM     2
YEM     2
ZAF     2
ZMB     2
ZWE     2
Name: count, Length: 211, dtype: int64
CountryCode
GEO    0.029364
MDA    0.029364
CYP    0.019576
SRB    0.019576
MUS    0.019576
         ...
WSM    0.003263
YEM    0.003263
ZAF    0.003263
ZMB    0.003263
ZWE    0.003263
Name: proportion, Length: 211, dtype: float64
CountryCode
ABW     2
AGO     2
ALB     2
AND     2
ARM     2
       ..
MAR    12
CYP    12
TZA    12
GEO    18
MDA    18
Name: count, Length: 211, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

     CountryCode  SeriesCode  DESCRIPTION  Unnamed: 3
0          False       False        False        True
1          False       False        False        True
2          False       False        False        True
3          False       False        False        True
4          False       False        False        True
..           ...         ...          ...         ...
608        False       False        False        True
609        False       False        False        True
610        False       False        False        True
611        False       False        False        True
612        False       False        False        True

[613 rows x 4 columns]

In [5]:
# Exploration des valeurs uniques de la colonne 'Region'
# Affichage des valeurs uniques de la colonne 'Region'
print(EdStatsCountry['Short Name'].unique())

['Aruba' 'Afghanistan' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'American Samoa'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'The Bahamas' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brazil' 'Barbados' 'Brunei' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Switzerland' 'Channel Islands'
 'Chile' 'China' "Côte d'Ivoire" 'Cameroon' 'Dem. Rep. Congo' 'Congo'
 'Colombia' 'Comoros' 'Cabo Verde' 'Costa Rica' 'Cuba' 'Curaçao'
 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria'
 'East Asia & Pacific (developing only)'
 'East Asia & Pacific (all income levels)'
 'Europe & Central Asia (developing only)'
 'Europe & Central Asia (all income levels)' 'Ecuador' 'Egypt' 'Euro area'
 'Eritrea' 'Spain' 'Estonia' 'Ethiopia' 'European Union' 'Finland' 'Fiji'
 'France' 'Faeroe Islands' 'Micronesia' 'Gabon' 'United Kingdom' 'Georgia'
 'Ghana' 'Gibraltar' 'Guinea' 'The Gambia' 'Guinea-Bissau'
 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland' 'Guatemala' 'Guam'
 'Guyana' 'High income' 'Hong Kong SAR, China' 'Honduras'
 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti' 'Hungary'
 'Indonesia' 'Isle of Man' 'India' 'Ireland' 'Iran' 'Iraq' 'Iceland'
 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya'
 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis' 'Korea'
 'Kuwait' 'Latin America & Caribbean (developing only)' 'Lao PDR'
 'Lebanon' 'Liberia' 'Libya' 'St. Lucia'
 'Latin America & Caribbean (all income levels)'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia' 'Macao SAR, China'
 'St. Martin (French part)' 'Morocco' 'Monaco' 'Moldova' 'Madagascar'
 'Maldives' 'Middle East & North Africa (all income levels)' 'Mexico'
 'Marshall Islands' 'Middle income' 'Macedonia' 'Mali' 'Malta' 'Myanmar'
 'Middle East & North Africa (developing only)' 'Montenegro' 'Mongolia'
 'Northern Mariana Islands' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi'
 'Malaysia' 'North America' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria'
 'Nicaragua' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand'
 'OECD members' 'Oman' 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau'
 'Papua New Guinea' 'Poland' 'Puerto Rico' "Dem. People's Rep. Korea"
 'Portugal' 'Paraguay' 'West Bank and Gaza' 'French Polynesia' 'Qatar'
 'Romania' 'Russia' 'Rwanda' 'South Asia' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino'
 'Somalia' 'Serbia' 'Sub-Saharan Africa (developing only)' 'South Sudan'
 'Sub-Saharan Africa (all income levels)' 'São Tomé and Principe'
 'Suriname' 'Slovak Republic' 'Slovenia' 'Sweden' 'Swaziland'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda' 'Ukraine' 'Upper middle income'
 'Uruguay' 'United States' 'Uzbekistan' 'St. Vincent and the Grenadines'
 'Venezuela' 'Virgin Islands' 'Vietnam' 'Vanuatu' 'World' 'Samoa' 'Kosovo'
 'Yemen' 'South Africa' 'Zambia' 'Zimbabwe']

In [6]:

# Étape 3 – Nettoyage des faux pays

# Étude des valeurs uniques dans la colonne "Region"
print("Valeurs uniques dans 'Region' :")
print(EdStatsCountry['Region'].unique())

# Faux pays : ceux sans région ou avec des regroupements statistiques
faux_pays_df = EdStatsCountry[
    EdStatsCountry['Region'].isnull() |
    EdStatsCountry['Region'].str.contains("income|World|OECD", case=False, na=False)
]

# Liste des codes des faux pays
faux_pays_codes = faux_pays_df['Country Code'].tolist()
print("Nombre de faux pays détectés :", len(faux_pays_codes))

# Nettoyage de la table Country
EdStatsCountry_clean = EdStatsCountry[~EdStatsCountry['Country Code'].isin(faux_pays_codes)].copy()
print("Pays restants après nettoyage :", EdStatsCountry_clean.shape[0])

Valeurs uniques dans 'Region' :
['Latin America & Caribbean' 'South Asia' 'Sub-Saharan Africa'
 'Europe & Central Asia' nan 'Middle East & North Africa'
 'East Asia & Pacific' 'North America']
Nombre de faux pays détectés : 27
Pays restants après nettoyage : 214

In [7]:
print(EdStatsData.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [8]:
EdStatsData_clean = EdStatsData[~EdStatsData['Country Code'].isin(faux_pays_codes)].copy()
EdStatsCountry_Series_clean = EdStatsCountry_Series[~EdStatsCountry_Series['CountryCode'].isin(faux_pays_codes)].copy()
EdStatsFootNote_clean = EdStatsFootNote[~EdStatsFootNote['CountryCode'].isin(faux_pays_codes)].copy()

In [9]:
# On ne garde que les pays valides en faisant une jointure avec EdStatsCountry_clean

# Jointure sur EdStatsData (clé = 'Country Code')
EdStatsData_clean_merge = EdStatsData.merge(
    EdStatsCountry_clean[['Country Code']],
    on='Country Code',
    how='inner'
)

# Jointure sur EdStatsCountry_Series (clé = 'CountryCode' ≠ nom dans EdStatsCountry)
EdStatsCountry_Series_clean_merge = EdStatsCountry_Series.merge(
    EdStatsCountry_clean[['Country Code']],
    left_on='CountryCode',
    right_on='Country Code',
    how='inner'
)

# Jointure sur EdStatsFootNote (clé = 'CountryCode')
EdStatsFootNote_clean_merge = EdStatsFootNote.merge(
    EdStatsCountry_clean[['Country Code']],
    left_on='CountryCode',
    right_on='Country Code',
    how='inner'
)

In [10]:
print("Méthode liste - Data :", EdStatsData_clean.shape)
print("Méthode merge - Data :", EdStatsData_clean_merge.shape)

print("Méthode liste - Series :", EdStatsCountry_Series_clean.shape)
print("Méthode merge - Series :", EdStatsCountry_Series_clean_merge.shape)

print("Méthode liste - FootNote :", EdStatsFootNote_clean.shape)
print("Méthode merge - FootNote :", EdStatsFootNote_clean_merge.shape)

Méthode liste - Data : (787975, 70)
Méthode merge - Data : (784310, 70)
Méthode liste - Series : (611, 4)
Méthode merge - Series : (611, 5)
Méthode liste - FootNote : (516743, 5)
Méthode merge - FootNote : (515752, 6)